h1, p {
  color: orange;
  font-family: helvetica;
}
h1 {
  font-size: 4em;
}
input {
padding: 15px;
}
p, button, input {
  font-size: 2em;
}
body {
  background-color: #FF7311;
  text-align: center;
}
hr {
  width: 1000px;
}
a, i {
  font-size: 4em;
  color: orange;
  margin: 20px;
}
button {
  background: #FF7311;
  color: white;
  padding: 15px;
  border: 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 20px;
}
button:active {
  background: #FF7311;
  -webkit-box-shadow: inset 0px 0px 5px #D44308;
    -moz-box-shadow: inset 0px 0px 5px #D44308;
    box-shadow: inset 0px 0px 5px #D44308;
  outline: none;
}
